/* Add some custom styles to make the website more attractive */
body {
    font-family: Open Sans, sans-serif;
    background-color: #f7f7f7;
}
.nav-link {
    color: #337ab7;
    transition: color 0.2s ease;
}
.nav-link:hover {
    color: #23527c;
}
.feature-icon {
    font-size: 36px;
    color: #337ab7;
    margin-bottom: 10px;
}
.feature-icon:hover {
    color: #23527c;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: #23527c;
    border-color: #23527c;
}